{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-10 offset-1">

    {% for post in posts %}
    <!-- ARTICULO -->
    <div class="row mt-4" style="border-bottom: 1px solid #d2d2d2;">

        <div class="row">
            <div class="col-lg-4 col-sm-12 mr-3">
                <img class="foto" src="{{post.fotoPortada.url}}">
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="row">
                    <h2 class="titulo">{{post.titulo}}</h2>
                </div>
                <div class="row">
                    <p class="contenido">{{post.articulo|truncatewords:50}}</p>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-4 float-start">
                <img class="like" src="{% static '\images\icons\favorito.png' %}"> {{post.likes}} Likes
            </div>
            <div class="col-8">
                <p class="publicado float-end"> Publicado {{post.fechaPublicacion}} - <a href="#"> Ver [+]</a></p>
            </div>
        </div>
    
    </div>
    {% endfor %}
    
</div>


{% endblock content %}

