/* FONTS */
@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppins-bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "poppins-black";
    src: url("../fonts/Poppins/Poppins-Black.ttf");
}

/* LINKS HOMEPAGE */
a.homelink{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .21em;
    text-transform: uppercase;
    color: #2E282C;
    text-decoration: none;
}

a:hover.homelink{
    color: #b4643c;
    text-decoration: none;
}

/* ARTICULOS */

.foto{
    width: 250px;
    height: 150px;
    margin-left: 15px;
}

.titulo{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    letter-spacing: .21em;
    text-transform: uppercase;
    color: #2E282C;
    text-decoration: none;
}

.contenido{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    /* letter-spacing: .21em; */
    color: #2E282C;
    text-decoration: none;
}

.publicado{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    /* letter-spacing: .21em; */
    color: #2E282C;
    text-decoration: none;
}

.publicado a{
    color: #b4643c;
    text-decoration: none;
}

.publicado a:hover{
    color: #2E282C;
    text-decoration: none;
}

.like{
    margin-left: 15px;
    width: 24px;
    height: 24px;
}

/* EFECTO IMAGEN LIKE */
img:hover.likes{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* FOOTER */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    /* background: #6cf; */
    border-top: #dfdfdf 1px solid;
 }

 a.footer-link{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .21em;
    text-transform: uppercase;
    color: #2E282C;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

a:hover.footer-link{
    color: #b4643c;
    text-decoration: none;
}

.footer-border-top{
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
    margin-top: 15px;
}

 /* ABOUT */
 /* IMAGEN */
 .imagen_centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.about-titulo{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    letter-spacing: .21em;
    text-transform: uppercase;
    color: #b4643c;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
}

.about-info{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #2E282C;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
}

/* CONTACTO */
.contacto-titulo{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    letter-spacing: .21em;
    text-transform: uppercase;
    color: #b4643c;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
}

.btn-marron{
    background-color: #b4643c;
    border-color: #88421e;
}

button:hover .btn-marron{
    background-color: #5d290e;
    border-color: #88421e;
}

/* PAGE */
.page-foto{
    width: 600px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #2E282C;
}

.page-titulo{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: poppins;
    color: #b4643c;
    font-weight: 500;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
}

.page-articulo{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #2E282C;
    text-decoration: none;
    text-align: justify;
    margin-top: 15px;
}

.page-publicado{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #2E282C;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

/* PAGE - COMENTARIOS */
.comentario-titulo{
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: poppins;
    color: #b4643c;
    font-weight: 500;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
}

.comentario-foto-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.comentario-publicado{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #2E282C;
    text-decoration: none;
}

.comentario{
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #2E282C;
    text-decoration: none;
    margin-top: 5px;
}

.comentario-likes{
    margin: auto;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    font-family: poppins;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #2E282C;
    text-decoration: none;
    display: block;
}