{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog - Coderhouse</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- BOOTSTRAP-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <!-- STYLE -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <!-- FLATICON -->
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    </head>
    <body>
        <div class="container">

        {% include 'sidebar.html' %}

        {% block content %}
            
        {% endblock content %}
        
        <div class="row">
            <div class="col-10 offset-1">
                <p class="text-center mt-3">Copyrigth 2022</p>
            </div>
        </div>

        </div>
        <!-- Bootstrap core JS-->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>