{% load static %}

{% block sidebar %}
<div class="border-end bg-white" id="sidebar-wrapper">
  <!-- <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div> -->
  <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><img src="{% static 'images/icons/home.png' %}" width="16" height="16"> Home</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><img src="{% static 'images/icons/website.png' %}" width="16" height="16"> Pages</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><img src="{% static 'images/icons/user.png' %}" width="16" height="16"> About</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><img src="{% static 'images/icons/email.png' %}" width="16" height="16"> Contacto</a>
  </div>
</div>
{% endblock sidebar %}