{% load static %}

{% block sidebar %}
<div class="row" style="border-bottom: 1px solid #dfdfdf;">
  <div class="col-3">
      <img src="{% static 'images/logo.png' %}" width="150" height="81" >
  </div>
  <div class="col-6">
      <form action="" method="POST">
          <div class="input-group mt-3">
              <input type="text" class="form-control" placeholder="Buscar..." aria-describedby="button-addon2">
              {% comment %} <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img src="{% static 'images/icons/search.png' %}" width="24" height="24" ></button> {% endcomment %}
          </div>
      </form>
  </div>
  <div class="col-3">
      <div class="row mt-3">
          <div class="col text-center">
              <a class="homelink" href="#" class="float-end">REGISTRARSE</a>
          </div>
          <div class="col text-center">
              <a class="homelink" href="#">Log In</a>
          </div>
      </div>
  </div>
</div>

<div class="row mt-3" style="border-bottom: 1px solid #dfdfdf;">
  
  <div class="col text-center mb-3">
      <a class="homelink" href="{% url 'blog_index' %}">HOME</a>
  </div>
  <div class="col text-center mb-3">
      <a class="homelink" href="{% url 'blog_about' %}">ABOUT</a>
  </div>
  <div class="col text-center mb-3">
      <a class="homelink" href="{% url 'blog_contacto' %}">CONTACTO</a>
  </div>
</div>
{% endblock sidebar %}